@model IEnumerable<User>
@{
	ViewData["Title"] = "User Page";
}
<div class="col mb-3">
	<h6>Users</h6>
</div>

<div class="row row-cols-1 row-cols-md-6 g-6">
	@foreach (var item in Model)
	{
		<div class="col" style="margin-bottom:20px;">
			<div class="card">
				<img src="images/sample.svg" class="card-img-top" alt="Avatar">
				<div class="card-body">
					<h6 class="card-title">
						@Html.DisplayFor(modelItem => item.FirstName)
						<br>@Html.DisplayFor(modelItem => item.LastName)
					</h6>
					<h7 class="card-subtitle mb-3 text-muted">@Html.DisplayFor(model => item.UserId)</h7>
				</div>
				<div class="card-footer">
					<small class="text-muted"> @Html.DisplayFor(model => item.Status)</small>
				</div>
			</div>
		</div>
	}
</div>

<style>
	.card {
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		transition: 0.3s;
		max-width: 300px;
		margin: auto;
		text-align: center;
		border-radius: 5px;
	}

		.card:hover {
			box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
		}

	img {
		border-radius: 5px 5px 0 0;
	}

	.container {
		padding: 2px 16px;
	}
</style>